<h1>关于我</h1>
<pre>
    GlamRockA，电子科技大学2015届电子科学与技术（固体电子工程）专业毕业生。因热爱编程遂投身软件开发行业。
    我喜欢函数式编程，但是函数式编程在实际应用中太少了。阮一峰的博客中说ruby几乎可以视为lisp的一种方言。我
没学过lisp，只学过scheme（对的，就是那本著名的sicp），尽管如此，函数式编程依然激发了我极大的热情。我在阮一
峰的博客中看到他说ruby几乎可以视为lisp的一种方言，所以我就学了ruby。因为ruby的主要用途就是用ruby on rails
做网站，所以我就来做网站了。
    虽然现在我也不太明白ruby的哪些语法特性借鉴了lisp，（我猜是块和proc？）但ruby的确是一种很美的编程语言。
写起来自由灵活，赏心悦目。所以我打算就这样确定我的方向了。即做一名ruby程序员。

qq：314598029

    
</pre>
