<h2> 已经注册的用户列表 </h2>

<table class="table table-striped table-hover">
  <tr>
    <th>用户名</th>
    <th>邮箱</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
    </tr>
  <% end %>
</table>
