<h2> 已经注册的用户列表 </h2>

<table class="table table-striped table-hover">
  <tr>
    <th>用户名</th>
    <% if signed_in? && current_user.admin? %>
      <th>邮箱</th>
    <% end %>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <% if signed_in? && current_user.admin? %>
        <td><%= user.email %></td>
      <% end %>
      <td><%= user.name %></td>
    </tr>
  <% end %>
</table>
